:root{
    --miancolor:rgb(224, 108, 108);
    --bgcolor:#EBECF0;
}

body p{
    font-family: 'Open Sans', sans-serif;
    }
    body h1,h2,h3,h4,h5,h6{
        font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    }
/* hovere */
.footer_one_social div i:hover{
    color: red;

}
.footer_three i:hover{
color: red;
}
.footer_three a:hover{
    text-decoration: underline;
    color: red;

}
/* order button */
.order{
    z-index: 1;
    display: inline-block;
    background-color: var(--miancolor);
    border-radius: 20px;
    width:80px;
    padding-top: 3px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.order a{
    text-decoration: none;
    color: var(--bgcolor);

}
/* end of order button */



.container{
    margin-left: -50%;
    margin-right: -50%;
  

}
.nav_bar{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color:var(--bgcolor);
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}
.logo{
    color: var(--miancolor);
}
.logo:hover{
    cursor: pointer;
}
.nav_list{
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.nav_list a{
    text-decoration: none;
    color: black;
}
.nav_list a:hover{
    text-decoration: underline;
    color: var(--miancolor);
}
.nav_list div{
    margin-left: 10px;
}
.sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* vertical bar  */
.icon-bar{
    z-index: 1;
   background-color: var(--bgcolor);
   width: 40px;
   border-radius:20px ;
   height: fit-content;
   padding-top: px;
   margin-top: 5px;
   position: fixed;
   top: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   -webkit-border-radius:20px ;
   -moz-border-radius:20px ;
   -ms-border-radius:20px ;
   -o-border-radius:20px ;
}

.icon-bar a{
   color: black;
   margin-top: 10px;
}
.icon-bar a:hover{
    color: var(--miancolor);
}
/* our menu */
.our_menu{
    text-align: center;
    font-style: italic;
    color: var(--miancolor);
}

.chicken_intro{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
/* menu */
.menu{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;

}
.single_menu{
    position: relative;
    flex-basis: 580px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    background-color: var(--bgcolor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.single_menu img {
   max-width: 150px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ddd;
    padding: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition-duration: 500ms;

}
.single_menu:hover img{
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.single_menu:nth-child(5), .single_menu:nth-child(6){
    border-bottom: 0;
}
.single_menu{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.single_menu h4{
    text-transform:capitalize ;
    font: 22px;
    border-bottom: 3px dashed var(--miancolor);
    padding-bottom:5px ;
    margin-bottom: 5px;
}
.single_menu h4 span{
  
    color: var(--miancolor);
    font-style: italic;

}
.single_menu p{
    padding: 10px;
}
.single_menu h4{
    color:green;
}
/* start footer */
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--miancolor);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 10px;
}
.footer .footer_one,.footer_two,.footer_three{
    width: calc(96%/4);
    display: flex;
    flex-direction: column;
    margin: 4%;
}
.footer div hr{
    width:80%;
}
.footer_one_social{
    display: flex;
    justify-content: space-between;
}
.footer_one_social div a{
    color: white;
}
.footer_two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_two div{
    display: flex;
    justify-content: space-between;

}
/* footer three */
.footer_three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_three div{
    display: flex;
    justify-content: space-between;
}
.footer_three div a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
.bye{
    padding-right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(65, 63, 63);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 80px;
}
.copyright{
    opacity: 0.6;
    color: white;
}
/* add to cart */
.addtocart{
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 30%;
    height: 15%;
   
}
.addtocart a{
    text-decoration: none;
    color: white;

    
}
.addtocart {
    background-color: var(--miancolor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}
.addtocart:hover{
   background-color:rgb(224, 108, 108);
   opacity: 0.9;
   cursor: pointer;
}
/* choose buttons */
.choose{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.choose button{
    background-color: var(--miancolor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
}
.choose button a{
    text-decoration: none;
    color: whitesmoke;
  
}
.choose button:hover {
    cursor: pointer;
    opacity: 0.8;

}
.choose button:hover a{
    text-decoration: underline;
}





@media screen and (min-width: 600px)
{
    body{
        font-size: x-large;
    }
    .icon-bar{
        display: none;
    }
    .nav_bar{
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .order{
        width: 100px;
    }
    .choice button{
        width: calc(80%/3);
        height: 70px;
        font-size: larger;
    }
    .addtocart{
        width: 40%;
        height: 30px;
    }
    .single_menu{
        width: 48%;
        margin: 4%;
    }
    .choose button{
        font-size:x-large;
    }
    
}
@media screen and (max-width: 463px){
    .contact_one div a{
        padding-left: 5px;
    }
    .nav_list{
        display: none;
    }
    #darkmode{
        display: none;
    }

}

/* new edit */
@media screen and (min-width: 700px){
    .nav_list{
        font-size: xx-large;
    }
}

.nav_list div{
    margin-left: 20px;
}

/* end new edit */